/* 
#e86975 - reddish pink
#efaab0 - light pink
#eed7c8 - light beige
#fff9f5 - off white
#be0822 - red
#fd9898 - pink
*/

.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

body {
  margin-top: 100px;
  text-align: center;
  background-color: #fff9f5;
}

.red-text {
  color: #be0822;
}

.btn-style {
  background: #efaab0;
  size: 20px;
  padding: 16px;
  border: 2px solid #e86975;
  border-radius: 30px;
  font-size: 18px;
  color: #be0822;
}

button:disabled {
  background: rgb(179, 160, 160);
  color: #5e554f;
}
